body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  background-color: lightgrey;
  height: 100px;
  width: auto;
  mix-blend-mode: multiply;  /* gets rid of background of an image */
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightgrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(36, 25, 187);
  padding: 10px;
  margin: 5px;
}
button {
  background-color: crimson;
  color: white;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px;
}
button:hover {
  color: black;
  background-color: forestgreen;

}